body {
	background-color: #f4f6f8;
}

#AddCategory {
	margin-bottom: 20px;
}

.btn:focus {
	outline: 0;
}

#Categories {
	//margin-bottom: 20px;
}

.category {
	margin: 0 5px 20px 5px;
}

.gify {
	margin: 0 auto;
	width: 100%;
}

.gify:hover {
	cursor: pointer;
}

h1 {
	margin-bottom: 20px;
}

#NewCategory {
	margin-bottom: 20px;
}

#Rating {
	text-transform: uppercase;
}

#Rating span {
	font-weight: bold;
}

#SubmitCategory {
	display: block;
	margin-left: auto;
	margin-right: auto;
}